---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import Search from "@components/Search";
import { SEARCH } from "@consts";

const posts = (await getCollection("blog")) as CollectionEntry<"blog">[];
const filteredPosts = posts.filter((post) => !post.data.draft);

const projects = (await getCollection("projects")) as CollectionEntry<"projects">[];
const filteredProjects = projects.filter((project) => !project.data.draft);

const data = [...filteredPosts, ...filteredProjects];
---

<PageLayout title={SEARCH.TITLE} description={SEARCH.DESCRIPTION}>
  <TopLayout>
    <div class="animate page-heading">
      {SEARCH.TITLE}
    </div>
  </TopLayout>
  <BottomLayout>
    <div class="animate">
      <Search client:load data={data} />
    </div>
  </BottomLayout>
</PageLayout>
